<div class="nested-fields">
  <%= f.input :amount %>
  <%= f.input :unit %>
  <%= f.collection_select :ingredient_id, Ingredient.all, :id, :name,{ class: "mb-2 mr-sm-2" } %>

  <%= link_to_remove_association "Remove Ingredient", f %>
</div>
