@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");

@import '~bootstrap/scss/bootstrap';
@import 'startbootstrap-grayscale/src/scss/styles';
@import 'toastr';
@import 'selectize/dist/css/selectize';
@import 'selectize/dist/css/selectize.default';

.row {
  margin-left: 0 !important;
}

.center {
  align-self: center;
}

.bg-black {
  background-color: #000000 !important;
}
