@import '~bootstrap/scss/bootstrap';
@import 'toastr';
@import 'selectize/dist/css/selectize';
@import 'selectize/dist/css/selectize.default';

.row {
  margin-left: 0 !important;
}

.center {
  align-self: center;
}

.bg-black {
  background-color: #000000 !important;
}
