<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body id="page-top">
    <%= render 'shared/messages' %>

    <%= yield %>

    <div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
